* {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.menu {
  background-color: #EFEFEF;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0 0 46px;
  max-width: 1920px;
  height: 50px;
}

.menu-list-item {
  font-size: 14px;
  font-weight: 500;
  padding: 0 30px 0 0;
}

.menu-list a {
  color: #333333;
}

a {
  text-decoration: none;
}

.header-info {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
  height: 118px;
  border-bottom: 1px solid #EFEFEF;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
  height: 70px;
  margin: 3px 0 0 157px;
}

.logo-icon {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px 0 0;
}

.logo-beauty {
  color: #66C05D;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 338px;
  height: auto;
  margin: 0 142px 0 0;
}

.phone-number {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.phone-button {
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 30px;
  vertical-align: auto;
  border: 2px solid #66C05D;
  width: 170px;
  height: 40px;
  cursor: pointer;
  padding: 1px 0 0 0;
  color: #000;
}

.nav {
  background-color: #fff;
  height: 78px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  max-width: 1920px;
  padding: 31px 3px 0 59px;
}

.nav-list-item {
  padding: 0 40px 0 0;
}

.nav-list a {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.banner {
  background-image: url(/img/BG.png);
  background-repeat: no-repeat;
  background-position: 0;
  max-width: 1920px;
  min-height: 604px;
}

.wrapper {
  padding: 161px 0 150px 405px;
}

.wrapper-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.wrapper-text {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  padding: 7px 0 53px 0;
}

.wrapper-button {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  text-align: center;
  padding: 10px 47px 10px 45px;
}

.price {
  max-width: 1920px;
  min-height: 955px;
  background-color: #EFEFEF;
}

.price-item {
  max-width: 1110px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 30px;
  padding: 0 0 0 9px;
}

.grid-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 81px 0 41px 0px;
}

.grid-image {
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 71px 0 0 20px;
}

.grid-price {
  background-color: #fff;
  padding: 0 0 34px 0;
  min-width: 255px;
}

.grid-item1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid-item2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid-item3 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.grid-item4 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.chair-img {
  padding: 24px 0 16px 66px;
}

.abote {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  padding: 0 0 16px 47px;
  line-height: 1.4;
}

.cost {
  font-size: 21px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
  padding: 0 0 23px 86px;
}

.buy-btn {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #66C05D;
  background-color: #66C05D;
  border-radius: 40px;
  padding: 8px 42px 8px 41px;
  margin: 0 0 0 60px;
}

.grid-left {
  grid-column: 1/3;
  grid-row: 3/4;
  width: 540px;
  height: 212px;
  background-color: #66C05D;
  margin: 100px 0 0 0;
  display: flex;
}

.bonus {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 35px 65px 0 40px;
}

.title-grid {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.about-grid {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  margin: 19px 0 25px 0;
}

.email-input {
  background-color: #fff;
  font-size: 14px;
  color: C4C4C4;
  width: 200px;
  height: 35px;
  border-radius: 40px;
  border: none;
  padding: 0 0 0 25px;
}

.envelope {
  width: 140px;
  height: 140px;
  background-image: url(/img/Envelope.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0 0 0;
}

.grid-right {
  grid-column: 3/5;
  grid-row: 3/4;
  width: 540px;
  height: 212px;
  background-color: #66C05D;
  margin: 100px 0 0 0;
}

.map {
  font-size: 14px;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  text-align: center;
  width: 166px;
  height: 23px;
  text-align: center;
  padding: 9px 0 0 0;
}

.footer {
  max-width: 1920px;
}

.footer-top {
  background-color: #fff;
  max-width: 1920px;
  height: 120px;
}

.footer-wrap {
  width: 1110px;
  height: 120px;
  display: flex;
  margin: auto;
  padding: 38px 0 0 0;
}

.youtube {
  background-image: url(/img/Youtube.svg);
  margin: 0 22px 0 8px;
}

.vk {
  background-image: url(/img/VK.svg);
}

.fb {
  background-image: url(/img/FB.svg);
  margin: 0 18px 0 20px;
}

.instagram {
  background-image: url(/img/Instagram.svg);
}

.social-item {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: 2px solid #66C05D;
  border-radius: 50%;
}

.address {
  font-size: 14px;
  color: #000;
  margin: 40px 0 0 0;
  margin: 16px 0 0 205px;
}

.footer-phone {
  font-size: 16px;
  color: #000;
  margin: 14px 36px 0 102px;
}

.footer-button {
  font-size: 14px;
  color: #000;
  width: 165px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #66C05D;
  border-radius: 45px;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 3px 0 0 0;
}

.footer-bottom {
  background-color: #EFEFEF;
  height: 64px;
  font-size: 12px;
  color: #828282;
}

.general-info {
  width: 1110px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0 0 19px;
}