* {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.menu {
  background-color: #EFEFEF;
  width: 1920px;
  height: 50px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 18px 0 0 0;
}

.menu-list-item {
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 15px;
}

a {
  text-decoration: none;
  color: #333333;
}

.header-info {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
  height: 120px;
  border-bottom: 1px solid #EFEFEF;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
  height: 70px;
  margin: 0 0 0 158px;
}

.logo-icon {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px 0 0;
}

.logo-beauty {
  color: #66C05D;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 339px;
  height: auto;
  margin: 0 142px 0 0;
}

.phone-number {
  font-size: 16px;
  font-weight: 500;
}

.phone-button {
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 30px;
  text-align: center;
  border: 2px solid #66C05D;
  width: 170px;
  height: 40px;
  padding: 4px 0 0 0;
  cursor: pointer;
}

.nav {
  background-color: #fff;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 78px;
}

.nav-list-item {
  padding: 0 12px 0 28px;
}